.container {
  margin: 2px 30px;
}
.app-container{
  margin:0.5em;
}
.dashboard-container{
  border:1px solid;
  margin: 4px 200px;
  border-radius: 4px;
  border-color: #309FFB;
}
.pagination {
  display: inline-block;
  list-style: none;
}

app-board{
  display: inline-block;
  padding:0;
}
.search-header {
  background: #309FFB;
  border-radius: 4px 4px 0 0;
}
.search-header h3{
  margin: 0;
  padding: 7px;
}
.display-inline{
  display: inline-block;
}
@media screen and (max-width: 40.062em) {
  app-board {
    width:100%;
  }
  .dashboard-container{
    margin: 4px ;
   }
}

.pagination-no {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 11px;
  color: black;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  border: 1px black;
  box-shadow: 0 0 0 1px #fff inset;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.search-button {
  background-color: #309FFB;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 5px 10px;
  cursor: auto;
}

.search-input {
  border-radius: 4px;
  border: none;
  padding: 8px;
  text-decoration: none;
  margin: 5px 5px;
}
